/* MiniGrid 0.2.0 - Copyright 2014 Adrien Glitchbone - MIT License */

@import "compass/reset/utilities";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";

$mg-col-prefix: '.col' !default;
$mg-row-prefix: '.row' !default;
$mg-gutter-width: 16px !default;

/* Set box-sizing */

#{$mg-row-prefix}, 
#{$mg-row-prefix}:after,
#{$mg-row-prefix}:before {
    
    @include box-sizing(border-box);
    
}

/* Clearfix & box-model + list-style reset for ul support */

#{$mg-row-prefix} {
    
    $margin: -$mg-gutter-width / 2;
    
    @include pie-clearfix();
    @include reset-list-style();
    @include reset-box-model();
    
    margin: {
        left: $margin;
        right: $margin;
    };
    
}

/* Nested grid */

#{$mg-row-prefix} > #{$mg-row-prefix} {
    
    clear: none;
    float: left;
    margin: 0 !important;
    
}

/* Base column properties */

%mg-column {
	
    @include box-sizing(border-box);
	
    $padding: $mg-gutter-width / 2;

    position: relative;
    width: 100%;
    min-height: 1px;
    float: left;
    
    padding: {
        left: $padding;
        right: $padding;
    }

}

/* Generate columns sizes */

@for $i from 1 to 101 {

    #{$mg-col-prefix}#{$i} {
        @extend %mg-column;
        width: percentage($i / 100);
    }

}
