body {
    color: #333;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    margin-top: 16px;
}

.col-content {
    padding-top: 16px;
    padding-bottom: 16px;
    text-indent: 16px;
}

.red {
    background: #FF9F76;
}

.green {
    background: #5AC399;
}

.yellow {
    background: #FFE876;
}